.service img {

    height: 150px;
    padding: 10px;

}

.card {
    margin: 0 auto;
}

.button {
    background-color: cadetblue;
    color: black;
    padding: 5px;
    font-family: fantasy;
    border-radius: 5px;
    text-decoration: none;
}